# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\大四\stockPredict-master\stockPredict-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
